[mysqld]
sql-mode="ALLOW_INVALID_DATES"


bind-address    = 0.0.0.0
# boleh gunakan ip address server. jika direct install mariadb/mysql
# bind-address    = 178.128.219.253

server-id       = 1
log_bin         = /var/log/mysql/mysql-bin.log
binlog-do-db    = employees